<%- include('../shared/html-head') %>

	<div class="container">
		<div class="well" style="max-width: 500px; margin: 0 auto;">
			<h1 class="text-center mb-xlg mt-sm">My Profile</h1>

			<%- include( '_form', { type: 'new', action: '/profile', method: 'POST', form: user } ) %>
		</div>
	</div>

<%- include('../shared/html-footer') %>
