<%- include('../shared/html-head') %>

	<div class="container">
		<div style="max-width: 500px; margin: 0 auto;">
			<% if ( flash.hasMessage( session ) ) { %>
				<%- flash.showMessage( session ) %>
			<% } %>

			<div class="well">
				<h1 class="text-center mb-xlg mt-sm">My Profile</h1>

				<%- include( '_form', { type: 'new', action: '/profile', method: 'POST', form: user } ) %>
			</div>
		</div>
	</div>

<%- include('../shared/html-footer') %>
