<%- include('../shared/html-head') %>

	<%
		var user = typeof user !== 'undefined' ? user : {};
	%>
	<div class="container">
		<div class="well" style="max-width: 500px; margin: 0 auto;">
			<h1 class="text-center mb-xlg mt-sm">Sign In</h1>



			<div class="container-fluid">
				<div class="col-xs-12">
					<% if ( flash.hasMessage( session ) ) { %>
						<%- flash.showMessage( session ) %>
					<% } %>

					<form id="signin-form" action="/signin" method="POST" class="form" autocomplete="off">
						<div class="form-group">
							<input id="email" name="email" type="email" placeholder="Email" class="form-control" value="<%- user.email %>" />
						</div>
						<div class="form-group">
							<input id="password" name="password" type="password" placeholder="password" class="form-control" value="" />
						</div>
						<div class="form-group mb-none text-right">
							<button class="btn btn-primary" type="submit">Sign In</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

<%- include('../shared/html-footer') %>
